body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(39, 39, 39, 0.1) 0.01%,
      rgba(0, 0, 0, 0.13) 13.02%,
      #000000 100%
    ),
    url(./img/fondo\ madera.png);
}
.header_index {
  width: 100%;
}
.nav-body {
  background-image: none;
}
.nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
  margin-top: auto;
}
.nav-titulo {
  margin-top: auto;
}
.nav-link {
  color: white;
}
.navbar {
  width: 100%;
}
.collapse {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 92vh;
}
.nav-footer {
  width: 100%;
  margin-top: auto;
  display: flex;
  flex-wrap: wrap;
  justify-self: end;
  justify-content: center;
}
.encabezado__contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.encabezado {
  width: 350px;
  text-align: center;
}
.encabezado__titulo {
  max-width: 350px;
  max-height: 67px;
}
.encabezado__linea {
  width: 345px;
  background-color: rgba(242, 201, 76, 1);
  height: 9px;
  margin-top: 10px;
}

.encabezado__texto {
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 40px;
  width: 346px;
  letter-spacing: 0.09em;
  margin-top: 5px;
}

.footer {
  width: 100%;
  margin-top: auto;
  display: flex;
  flex-wrap: wrap;
  justify-self: end;
  justify-content: center;
}
.footer__img {
  width: 80%;
}

/* about us */

.body_black {
  background-image: none;
  background-color: black;
  color: white;
}

.about_1 {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-img1 {
  max-width: 300px;
}
.about-img2 {
  display: none;
}
.about-p {
  padding-top: 10px;
  margin: 10px;
  font-size: 20px;
  text-align: center;
  width: 90%;
  height: 500px;
  background-image: url(./img/restaurant-5521372_1920\ 1.png);
}
.boton {
  display: none;
}
/* menu1 */
.menu_1 {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img_menu1 {
  max-width: 350px;
}
.p_menu1 {
  margin-top: 10px;
  width: 90%;
  font-size: 15px;
  text-align: center;
}
.imagenes_menu {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}
.img_menu_a {
  border-radius: 15px;
  max-width: 350px;
}
.img_menu_b {
  display: none;
}
.boton_menu1 {
  border: solid 2px rgba(242, 201, 76, 1);
  padding: 0;
  width: 150px;
  font-size: 20px;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  align-self: flex-end;
  color: rgba(242, 201, 76, 1);
  text-decoration: none;
}
.boton_menu1_contenedor {
  margin: 30px;
}

/* menu2 */
.contenedor_header_menu2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}
.header__linea {
  background-color: rgba(242, 201, 76, 1);
  width: 350px;
  height: 10px;
  margin-top: 1rem;
}
.header_lista {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  gap: 25px;
  margin-top: 1rem;
}
.menu_contenedor {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px 50px;
}
.menu_tarjeta {
  display: flex;
  gap: 10px;
  margin: 20px;
}
.menu_tarjeta > img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}
.menu__tarjeta_descripcion > h3 {
  margin-top: 0;
  color: rgba(242, 201, 76, 1);
}
.menu__tarjeta_descripcion > p {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.09em;
}
/* contact */

li,
a {
  text-decoration: none;
  list-style: none;
  color: white;
}
div > ul {
  display: flex;
  gap: 2rem;
  padding-right: 2rem;
}
.find_us2 {
  display: flex;
  flex-wrap: wrap;
  font-size: 25px;
  color: white;
  gap: 100px;
  margin: 30px;
}
.find_us > img {
  width: 350px;
  margin: 10px;
}
.titulo {
  height: 40px;
}
.find_us {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.mapa_contact {
  margin-top: 50px;
  width: 350px;
}
.p_contact {
  margin-top: 0;
  width: 350px;
  height: 100%;
}
.form_1 {
  width: 204px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  border: solid 4px black;
}
.form_2 {
  width: 290px;
  height: 94px;
  display: flex;
  margin: 5px;
  border: solid 2px black;
}
.boton_contact {
  align-self: center;
  margin: 2px;
}
.form_1 :hover {
  border: solid 2px skyblue;
}
.form_2 :hover {
  border: solid 2px skyblue;
}
form {
  margin-top: 50px;
}

@media only screen and (min-width: 999px) {
  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(39, 39, 39, 0.1) 0.01%,
        rgba(0, 0, 0, 0.13) 13.02%,
        #000000 100%
      ),
      url(./img/fondo\ madera.png);
  }
  .nav {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    margin: 0;
  }
  .nav-titulo {
    display: none;
  }
  .navbar {
    width: 100%;
  }
  .collapse {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    min-height: 60px;
  }
  .nav-footer {
    display: none;
    margin: 0;
  }
  .encabezado {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 10%;
  }
  .encabezado__titulo {
    max-width: 50%;
    max-height: 67px;
  }
  .encabezado__linea {
    background-color: rgba(242, 201, 76, 1);
    width: 460px;
    height: 9px;
    margin-top: 10px;
  }
  .encabezado__texto {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    width: 70%;
    letter-spacing: 0.09em;
    margin-top: 10px;
    text-align: center;
  }
  .footer__img {
    width: 800px;
  }
  .boton {
    border: solid 2px rgba(242, 201, 76, 1);
    padding: 0;
    width: 100px;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    align-self: flex-end;
    color: rgba(242, 201, 76, 1);
    display: block;
  }
  /* about us */

  .about {
    display: flex;
    flex-wrap: wrap;
    gap: 200px;
    font-size: 30px;
    margin-top: 20px;
  }
  .about_1 {
    display: flex;
    flex-direction: column;
    color: white;
    margin-left: 20px;
    width: 447px;
  }
  .about-img1 {
    max-width: 447px;
    height: 52px;
  }
  .about-img2 {
    display: block;
    width: 515px;
    height: 775px;
  }
  .about-p {
    padding: 0;
    margin-top: 30px;
    font-size: 25px;
    width: 500px;
    text-align: start;
    color: white;
    background-image: none;
  }
  .boton {
    margin-top: 60px;
    border: solid 2px rgba(242, 201, 76, 1);
    padding: 0;
    width: 100px;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    align-self: flex-end;
    color: rgba(242, 201, 76, 1);
    text-decoration: none;
  }
  /* menu */

  .menu_1 {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .img_menu1 {
    max-width: none;
  }
  .p_menu1 {
    margin-top: 30px;
    width: 90%;
    font-size: 25px;
    text-align: center;
  }
  .imagenes_menu1 {
    margin-top: 20px;
    display: flex;
    gap: 20px;
  }
  .img_menu_a {
    border-radius: 15px;
    max-width: none;
  }
  .img_menu_b {
    display: block;
    border-radius: 15px;
  }

  /* menu 2 */
  .menu2_body {
    background-color: black;
    background-image: none;
    color: white;
  }
  .contenedor_header_menu2 {
    width: 100vw;
    display: grid;
    grid-template-columns: 1, 1fr;
    grid-template-rows: repeat(3, 1fr);
    place-items: center;
    margin-top: 2rem;
  }
  .header__linea {
    background-color: rgba(242, 201, 76, 1);
    width: 450px;
    height: 10px;
  }
  .header_lista {
    width: 50vw;
    display: grid;
    grid-template-columns: repeat(5, 100px);
    justify-content: space-evenly;
    list-style: none;
  }
  .menu_contenedor {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: repeat(6, 300px);
    justify-content: center;
    gap: 10px 100px;
  }
  .menu_tarjeta {
    display: flex;
    gap: 10px;
    margin-top: 20px;
  }
  .menu_tarjeta > img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
  }
  .menu__tarjeta_descripcion > h3 {
    margin-top: 0;
    color: rgba(242, 201, 76, 1);
  }
  .menu__tarjeta_descripcion > p {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 40px;
    letter-spacing: 0.09em;
    width: 200px;
  }
  /* contac */
  a > img {
    padding-left: 2rem;
  }
  li,
  a {
    text-decoration: none;
    list-style: none;
    color: white;
  }
  div > ul {
    display: flex;
    gap: 2rem;
    padding-right: 2rem;
  }
  .find_us2 {
    display: flex;
    flex-wrap: wrap;
    font-size: 25px;
    color: white;
    gap: 100px;
    margin: 30px;
  }
  .find_us > img {
    width: 475px;
    margin: 10px;
  }
  .titulo {
    height: 52px;
  }
  .find_us {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .mapa_contact {
    width: 500px;
    height: 500px;
  }
  .p_contact {
    margin-top: 35px;
    width: 400px;
    height: 100%;
    font-size: 24px;
  }
  .form_1 {
    width: 204px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border: solid 4px black;
  }
  .form_2 {
    width: 290px;
    height: 94px;
    display: flex;
    margin: 5px;
    border: solid 2px black;
  }
  .boton_contact {
    align-self: center;
    margin: 2px;
  }
  .form_1 :hover {
    border: solid 2px skyblue;
  }
  .form_2 :hover {
    border: solid 2px skyblue;
  }
  form {
    margin-top: 50px;
  }
}
